.petDetail {
    border: solid;
    text-align: center;
    display: inline-block;
}

.petDetailTitle {
    border: solid;
    color: palegreen;
}

.petDetailHeader {
    border: solid;
    color: powderblue;
}

.petDetailBody {
    border: solid;
    color: palevioletred;
}