.totaltotal {
  background-color: #ffd22e;
  z-index: 3;
  /* height: 100%; */
  padding-bottom: 3rem;
  background-repeat: repeat;
  /* background-repeat: inherit; */
  min-height: 100vh;
}

.board {
  /* border: solid; 랜딩페이지에 적용되므로 적용하지 말것! */
  width: 80%;
  /* min-height: 96vh; */
  text-align: center;
  margin: auto;
  display: block;
  /* margin-top: 60px; */
}

.boardTitle {
  /* border: solid; */
  color: #000;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.petCards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.boardMainMenu {
  width: 100%;
  height: 8rem;
  background-color: #ffd331;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
