/*** Pet Card ***/
@media(min-width: 1285px) {
    .petCard {
        border: 5px solid #ffd331;
        display: inline-block;
        border-radius: 10px;
        width: 32%;
        margin: 1px;
        background-color : rgba(255, 255, 255, 0.534);
        padding-bottom: 20px;
    }
} 

@media (max-width: 1284px) {
    .petCard {
        border: 5px solid #ffd331;
        display: inline-block;
        border-radius: 10px;
        width: 48%;
        margin: 1px;
        background-color : rgba(255, 255, 255, 0.534);
        padding-bottom : 20px;
    }
}

@media (max-width: 856px) {
    .petCard {
        border: 5px solid #ffd331;
        display: inline-block;
        border-radius: 10px;
        width: 100%;
        margin: 1px;
        background-color : rgba(255, 255, 255, 0.534);
        padding-bottom : 20px;
    }
}

.petCard:hover {
    border: 5px solid #ffef44;
}

.petThumbnail {
    max-width: 240px;
    min-height: 160px;
    border-radius: 5px;
}

.thumbnailContainer{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/*** Pet Detail Open Button ***/
.openButton {
    font-size : 15px;
    padding : 3px 6px 3px 6px;
    background-color : #000;
    color : #fff;
    cursor : pointer;
    border-radius : 5px;
    margin-right : 5px;
}

.openButton:hover {
    background-color : #ffd22e;
}

.openButton:hover:after {
    opacity: 1;
    right: 10px;
}

/*** Pet Detail Close Button ***/
.closeButton {
    font-size : 15px;
    padding : 3px 6px 3px 6px;
    background-color : #000;
    color : #fff;
    cursor : pointer;
    border-radius : 5px;
    margin : auto;
}

.closeButton:hover {
    background-color : #ffd22e;
}

.closeButton:hover:after {
    opacity : 1;
    right : 10px;
}


/*** Pet Detail Modal ***/
.petDetailModal {
    position : absolute;
    top : 40 px;
    left : 40 px;
    right : 40 px;
    bottom : 40 px;
    background-color : whitesmoke;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    width : 350 px;
    height : auto;

}

.petDetailOverlay {
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    z-index : 10001;
}


