.petDetail {
    /* border: solid; */
    /* text-align: center; */
}
 
.petDetailTitle {
    /* border: solid; */
    text-align : center;

}

.petDetailHeader {
    /* border: solid; */
}

.petDetailBody {
    border: solid;
    border-radius: 5px;
    text-align: left;
    padding: 23px;
}

.petsImage {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
}

.modalPetName {
    text-align : center;

}
