.petRegister {
    border: solid;
    text-align: center;
}

.petRegisterTitle {
    border: solid;
    color: palevioletred;
}

.petRegisterHeader {
    border: solid;
    color: powderblue;
}

.petRegisterBody {
    border: solid;
    color: palegreen;
}

.petRegisterImages {
    border: solid;
    color: peru;
}