.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.registerLogo {
  width: 180px;
  height: 90px;
  margin-top: -39px;
  margin-left: 71px;
}

.register__title {
  text-align: left !important;
  margin-left: 10%;
}

#wrap__petregister {
  display: flex;
  position: fixed;
  width: 80%;
  height: 60%;
  margin: auto;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  justify-content: space-between;
}

.petRegister {
  width: 45%;
  background-color: #f9f9f9;
  /* box-sizing: border-box !important; */
  box-shadow: 0 2px 5px 0 rgb(96 96 96 / 16%),
    2px 10px 23px 0 rgb(96 96 96 / 13%);
  padding: 40px;
  padding-bottom: 20px;
}

#registerMap {
  width: 45%;
  background-color: #f9f9f9;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgb(96 96 96 / 16%),
    2px 10px 23px 0 rgb(96 96 96 / 13%);
}

.inputTitle,
.inputName,
.inputSpecies,
.inputSex,
.inputArea,
.inputDate,
.inputReward,
.inputFile,
.inputDescription {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.inputSubmit {
  background-color: #000;
  color: white;
  margin-top: 5px;
  margin-right: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.inputSubmit:hover {
  background-color: #0076b6;
}

label {
  padding: 12px 12px 12px 14px;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 1px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 7px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .inputSubmit {
    width: 100%;
    margin-top: 0;
  }
}

.petRegisterText {
  /* font-size: 15px;
  text-align: center;
  margin-top: 15px; */
  font-size: 14px;
  /* color: black; */
  color: white;
  margin-left: 15px;
  /* background-color: #000; */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 50%);
  opacity: 0.8;
}

.inputTitle:focus,
.inputName:focus,
.inputSpecies:focus,
.inputSex:focus,
.inputArea:focus,
.inputDate:focus,
.inputFile:focus,
.inputReward:focus,
.inputDescription:focus {
  /* background-color: lightblue; */
  outline: 1px solid #000000;
  box-shadow: 0 0 0 1.8pt #000000;
}
