/** @format */

.flex {
  display: flex;
  /* padding-left: 0px; */
  /* padding-right: 50px; */
  overflow: hidden;
  /* background-color: #dbd8c74d; */
  background: url("../image/background.jpg") no-repeat 0 0;
  background-size: 100% 100%;
}

.main {
  padding-top: 100px;
  width: 50vw;
  height: 88.3vh;
}

.pageList {
  padding-top: 20px;
  width: 50vw;
  height: 88.3vh;
  display: flex;
  width: 20vw;
  text-align: center;
  border-radius: 3em;
  animation-name: pageList;
  animation-duration: 1.4s;
  animation-timing-function: ease-out;

  flex-grow: 1;
  overflow-y: auto;
  flex-direction: column;
  flex-shrink: 0;
}

@keyframes pageList {
  from {
    transform: translate(0, 30px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.intro {
  font-size: 23px;
  margin-top: 10rem;
  margin-bottom: 2rem;
}
.check {
  border: solid #000;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-weight: bolder;
  font-size: 26px;
}

.ListBtn {
  color: #fff;
  display: inline-block;
  background-color: #000;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  padding: 25px 20px 25px 25px;
  transition: all 0.5s;
  margin: 15px;
  transition: 0.5s;
  /* position: relative; */
}

.ListBtn:after {
  content: "»";
  /* position: sticky; */
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.ListBtn:hover {
  padding-right: 28px;
  padding-left: 28px;
}

.ListBtn:hover:after {
  opacity: 1;
  right: 10px;
}

.ListBtn:visited,
.ListBtn:active {
  color: #fff;
}
