.Main_Menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dee2e6;
  z-index: 10;
  border-bottom: 0.5px solid rgb(232, 232, 232);
}

.Btn {
  width: 120px;
  background-color: #213e52;
  border-radius: 10px;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  cursor: pointer;
}
.Btn:hover {
  background-color: #aec4c7;
}

.mypageBtn {
  color: white;
}

.signin {
  margin-left: 15px;
  margin-right: 50px;
}

h1 {
  margin-left: 50px;
  font-size: xx-large;
}
