.Main_Menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5vh;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #8bc4c1 50%, #d1e9ca3a);
  z-index: 10;
  /* border-bottom: 0.5px solid rgb(232, 232, 232); */
}
.Btn {
  width: 120px;
  background-color: #50756ab7;
  border-radius: 10px;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  cursor: pointer;
}
.Btn:hover {
  background-color: #7baa71;
}
.mypageBtn {
  color: white;
}
.signin {
  margin-left: 15px;
  margin-right: 43px;
}
.signout {
  margin-left: 15px;
  margin-right: 43px;
}

.logo {
  margin-left: 55px;
}
