.Main_Menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6vh;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Btn {
  /* border-radius: 4px; */
  /* background-color: #000; */
  /* border: 1px; */
  /* display: block; */
  text-decoration: none;
  border: solid #000;
  border-left-width: 0px;
  border-right-width: 0px;
  color: #000;
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
  padding: 10px;
  width: 7.7rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Btn:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.Btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.Btn:hover:after {
  opacity: 1;
  right: 10px;
}

.Btn:visited,
.Btn:active {
  color: #000;
  text-decoration: none;
}

.signin {
  margin-right: 60px;
}
.signout {
  margin-right: 43px;
}

.logo {
  margin-left: 55px;
}

.aTag:visited {
  text-decoration: none;
  color: #000;
}
