/* 모달 구현 */

.loginModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.loginList {
  position: fixed;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 500px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.modalContents {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .signinName {
  margin: 0 auto;
  font-size: 25px;
  color: black;
} */

.logo_signin {
  text-align: center;
}

.signinLogo {
  width: 26%;
  text-align: center;
}

.close {
  color: black;
}

.loginId {
  margin-top: 30px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.loginId:focus,
.loginPw:focus {
  /* outline: 3px solid #ffd22e; */
  outline: 1px solid #000000;
  box-shadow: 0 0 0 2pt #000000;
}

input::placeholder {
  color: #999999;
}

.loginPw {
  margin-top: 15px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

.autoLogin {
  font-size: 12px;
  color: #8d8d8d;
  line-height: 3;
}

.loginBtn {
  height: 40px;
  font-size: 14px;
  padding: 13px 30px;
  cursor: pointer;
  /* background-color: #016499; */
  background-color: #000;
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
}

.loginBtn:hover {
  background-color: #0076b6;
}

.socialBox {
  margin-bottom: 13px;
  border-bottom: 1px solid #ddd;
}

.kakao {
  background-color: #fee500;
  border-color: #fee500;
  color: #000000;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.btn_kakao {
  width: 8%;
  font-size: 15px;
  margin-left: -23px;
  display: inline-block;
  box-sizing: border-box;
  object-fit: fill;
}

.naver {
  background-color: #1ec800;
  border-color: #1ec800;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.btn_naver {
  width: 6.5%;
  font-size: 15px;
  margin-left: -17px;
  display: inline-block;
  box-sizing: border-box;
  object-fit: fill;
}

.loginLine {
  color: #bcbcbc;
  font-size: 11px;
  margin-bottom: 35px;
}

.loginEnd {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 0 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signUpBtn {
  height: 40px;
  font-size: 14px;
  padding: 13px 30px;
  cursor: pointer;
  /* background-color: #016499; */
  background-color: #000;
  color: white;
  line-height: 1px;
  margin-top: 0px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
}

.signUpBtn:hover {
  background-color: #0076b6;
}

a {
  text-decoration: none;
  cursor: pointer;
}
