.registerWrapper {
  margin: 0 auto;
  margin-top: 100px;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo_signup {
  text-align: center;
}

.signupLogo {
  width: 13%;
  text-align: center;
  margin-bottom: 30px;
}

.registerText {
  font-size: 16px;
  /* text-align: left; */
}

.register__text,
.register__email,
.register__password,
.register__username,
.register__mobile,
.register__btn {
  width: 100%;
  text-align: center;
}

.inputEmail,
.inputPassword,
.inputUsername,
.inputMobile {
  margin-top: 5px;
  border-radius: 2px;
  width: 30%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}

input::placeholder {
  color: #999999;
}

.autoLogin {
  font-size: 12px;
  color: #8d8d8d;
  line-height: 3;
}

.registerBtn {
  width: 15%;
  height: 40px;
  font-size: 14px;
  padding: 13px 30px;
  cursor: pointer;
  /* background-color: black;
  color: white; */
  background-color: #016499;
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 8px;
  border-style: none;
}

.registerBtn:hover {
  background-color: #0076b6;
}

.inputEmail:focus,
.inputPassword:focus,
.inputUsername:focus,
.inputMobile:focus {
  /* outline: 3px solid #ffd22e; */
  outline: 3px solid #000000;
}
