#wrap__signup {
  /* position: fixed;
  max-width: 50%;
  height: 40%;
  margin: auto;
  top: 0px;
  bottom: 420px;
  left: 0px;
  right: 0px; */
  /* display: flex; */
  position: fixed;
  width: 30%;
  height: 75%;
  margin: auto;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.registerName {
  background-color: #f9f9f9;
  /* border-radius: 5px; */
  padding: 40px;
  box-shadow: 0 2px 5px 0 rgb(96 96 96 / 16%),
    2px 10px 23px 0 rgb(96 96 96 / 13%);
}

.inputEmail,
.inputPassword,
.inputUsername,
.inputMobile {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.user_submit {
  background-color: #000;
  color: white;
  margin-top: 15px;
  /* margin-right: 35px; */
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.user_submit:hover {
  background-color: #0076b6;
}

label {
  padding: 12px 12px 12px 14px;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  .user_submit {
    width: 100%;
    margin-top: 0;
  }
}

/* .registerWrapper {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.logo_signup {
  text-align: center;
}

.signupLogo {
  width: 25%;
  text-align: center;
  margin-bottom: 30px;
}

.registerText {
  font-size: 14px;
  /* color: black; */
  color: white;
  margin-left: 15px;
  /* background-color: #000; */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 50%);
  opacity: 0.8;
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #ffd0ae 50%); */
}

.inputEmail:focus,
.inputPassword:focus,
.inputUsername:focus,
.inputMobile:focus {
  /* outline: 3px solid #ffd22e; */
  outline: 1px solid #000000;
  box-shadow: 0 0 0 1.8pt #000000;
  /* background-color: lightblue; */
}
