.petCard {
    color: powderblue;
    border: solid;
    width: 32%;
    display: inline-block;
}
 
.petThumbnail {
    width: 100%;
    min-width: 50px;
    height: auto;
}

.modal {
    display: inline-block;
}

.closeButton {
    display: block;
}
