.searchbar {
  /* border: solid; */
  padding-top: 10rem;
  padding-bottom: 30px;
  text-align: center;
  display: block;
}

/*** Search Button ***/
.searchButton {
  display: block;
  border-radius: 5px;
  background-color: #000;
  text-decoration: none;
  border: 2px solid #000;
  color: #fff;
  text-align: center;
  /* font-weight: bolder; */
  font-size: 14px;
  padding: 7px;
  width: 6rem;
  /* transition: all 0.5s; */
  cursor: pointer;
  margin: 15px;
  display: inline-block;
  position: relative;
  /* transition: 0.5s; */
}

/* .searchButton:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
} */

.searchButton:hover {
  background-color: #ffd22e;
  color: #000;
  /* padding-right: 8px; */
  /* padding-left: 24px; */
}

/* .searchButton:hover:after {
  opacity: 1;
  right: 10px;
} */

/*** Search Input ***/
.searchInput {
  border: none;
  border-bottom: solid #000;
  cursor: pointer;
  width: 40%;
  height: 2rem;
  font-size: 1rem;
  /* border-radius: 5px; */
  background-color: #ffd22e;
}

.searchInput:focus {
  border: none;
  border-bottom: solid #000;
  outline: none;
  background-color: rgba(255, 255, 255, 0.777);
}
