.petInfoDetail {
  width: 30vw;
  height: 75vh;
  border: 1px solid rgba(255, 255, 255, 0.507);
  border-radius: 1rem;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.534);
}

.petInfoDetailTitle {
  font-size: 1.5rem;
}

.modifyPetInfoButton {
  font-size: 15px;
  padding: 3px 6px 3px 6px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}
.modifyPetInfoButton:hover {
  /* color: #000; */
  background-color: #ffd22e;
}

.deletePetInfoButton {
  font-size: 15px;
  padding: 3px 6px 3px 6px;
  background-color: rgb(199, 14, 14);
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.deletePetInfoButton:hover {
  color: #000;
  background-color: #ffd22e;
}
