#main,
#comments {
  width: 500px;
  margin: auto;
  text-align: left;
  background: white;
  padding: 50px 60px;
  border: solid #ddd;
  border-width: 1px;
}

#main h1 {
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 5px;
  padding: 5px;
}

#main h1 span {
  font-style: italic;
}

ul {
  list-style-type: none;
}